extends layout/main.pug

block content
    form(action=routes.editVideo(video.id), method="post")
        input(type="text", placeholder="Title", name="title" required=true, value=video.title)
        textarea(placeholder="Description", name="description" required=false)=video.description
        input(type="submit", value="Update Video")
    a(href=routes.deleteVideo(video.id)) Delete Video